#map {
  position: relative;
  height: 400px;
  /*z-index: 1000;*/
}
#legend {
  position: absolute;
  top: 0;
  right: 5px;
  z-index: 1;
  background: white;
  padding: 8px;
  border-radius: 6px;

}
.report-card {
  width: 18rem;
  margin-bottom: 10px !important;
}
#report-card-img {
  height: 200px;
}
#report-card-query {
  width: 18rem;
  margin-bottom: 10px !important;
}
#report-card-img-query {
  height: 200px;
}
#card-wrapper {
  height: 840px;
  overflow: scroll;
}

#legend-dot-1 {
  height: 20px;
  width: 10px;
  background: #FF7D4A;
  margin-right: 5px;
}
#legend-dot-2 {
  height: 20px;
  width: 10px;
  background: #4152D0;
  margin-right: 5px;

}