#map {
  position: relative;
  height: 400px;
  /*z-index: 1000;*/
}
#legend {
  background-color: rgba(0,0,0,.2);
  position: absolute;
  bottom: 0;
  left: 5px;
  z-index: 1;
  padding: 8px;
  border-radius: 6px;
}
.mapboxgl-popup-content{
  height: 200px;
  width: 200px;
  z-index: 20 !important;
}
.report-card {
  width: 18rem;
  margin-bottom: 10px !important;
}
#report-card-img {
  height: 200px;
}
#report-card-query {
  width: 18rem;
  margin-bottom: 10px !important;
}
#report-card-img-query {
  height: 200px;
}
#card-wrapper {
  height: 840px;
  overflow: scroll;
}
#legend-dot-1 {
  height: 20px;
  width: 10px;
  background: green;
  margin-right: 5px;
}
#legend-dot-2 {
  height: 20px;
  width: 10px;
  background: blue;
  margin-right: 5px;

}