/*html{*/
/*    background-image:url("images/matthew-lejune-IpvDhQjrewM-unsplash.jpg");*/
/*}*/

html{
    overflow: auto;
}

body{

    background-color: #D8D1C2;
    background-image:url("images/matthew-lejune-IpvDhQjrewM-unsplash.jpg");
    background-position: -760px;
    background-position-y: 1120%;
    height: 2959px;
    background-size: 1900px;
    /*background-repeat: no-repeat;*/
    /*margin-top: 150px ;*/
    /*position: static;*/
    /*background-attachment: fixed;*/
    padding-bottom: 300px;


}

.about{

}

.aboutList {
    list-style: none;
    padding-left: 0;
    background-color: rgba(0,0,0,.5);
}
.aboutList li {
    position: relative;
    padding-left: 20px;
}
.aboutList li:before {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    background-image: url('images/waves (1).png');
    background-size: cover;
    background-position: center;
    left: 0;
    top: 25%;
    transform: translateY(-50%);
    margin-left:-10px;
}
li{
    margin-left: 30px;
    margin-top: 20px;
    color: white;
}


#backImg{
    margin-bottom: 200px;
}


#cautionBox{
    height: 190px;
    width: 190px;
    background-color:#FCEA1A;
    transform: rotate(50deg);
    margin-top: 170px;
    margin-left:90px;
    border-radius: 20px;
    opacity: 90%;
    padding-top:15px;
    padding-left: 15px;
}

#cautionBoxLine{
    border: 3px solid #4152D0;
    width:165px;
    height: 165px;
    transform: rotate(90deg);
    border-radius:15px;
    padding-top: 40px;
    padding-right: 5px;
    padding-left: 5px;
    margin-right:10px;


}

#cautionFont1{
    transform: rotate(220deg);
    font-size:25px;
    /*margin-bottom: 30px;*/
    font-family: 'Ubuntu', sans-serif;
    margin-right:10px;
    margin-left: 60px;
    margin-top: -5px;
    color: #4152D0;


}

#cautionFont2{
    transform: rotate(220deg);
    font-size:25px;
    /*margin-bottom: 30px;*/
    font-family: 'Ubuntu', sans-serif;
    margin-left:50px;
    margin-right: 75px;
    color: #4152D0;
}

#cautionFont3{
    transform: rotate(220deg);
    font-size:25px;
    /*margin-bottom: 30px;*/
    font-family: 'Ubuntu', sans-serif;
    margin-left: -30px;
    margin-right:-15px;
    color: #4152D0;


}


.form-text{
    color: #FF7D4A;
}


#line1{
    border: 1px solid white;
    color: white;
    width: 300px;
    margin-top: 90px;
}

#line2{
    color:white;
    width: 300px;
    border: 1px solid white;
}


#loginBox{
    border: 2px solid white;
    margin-top: 30px;
    margin-left: 40px;
    height: 280px;
    width: 300px;
    padding-top: -20px;
    padding-right: 20px;
    padding-left:20px;

}


#loginCont{
    margin-left:120px;
    margin-top: 30px;
    /*font-size: 20px;*/
}
.loginFont{
    font-size: 20px;
}

#loginInputUser{
    font-size: 10px;
}

#loginInputPassword{
    font-size: 10px;
}
#loginLogo{
    width:10px;
    height: 10px
}





#loginSubmit{
    background-color: #4152D0;
    /*margin-top: 20px;*/
}

#loginReg{
    background-color: #FF7D4A;
    margin-top: 10px;
}

.loginSubReg{
    border-radius: 5px;
    width:150px;
    height: 50px;
    font-size: 20px;
    color: white;
    margin-left:50px;
    /*margin-top: 10px;*/
    font-family: 'Ubuntu', sans-serif;


}


#map{
    border: 1px solid white;
    /*margin: 5px;*/
}

#mapBox{
    margin-top: 20px;
    margin-bottom: 20px;
}

#mapHead{
    font-family: 'Ubuntu', sans-serif;
    color:white;
    font-size: 30px;
    margin-top: 30px;
}

#mapRegisterButton{
    margin-right: 25px;
    width: 20px;
    height:40px;
    background-color: #FF7D4A;
    color: white;
}

#mapZipSearch{
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 5px;

}

#mainRow{
    display: flex;
    justify-content: center;
}

#mainTitleContainer{
    display:  inline-block;
    justify-items: center;
}

#mainTitle1{
    margin-left: 60px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 40px;
    font-family: 'Muli', sans-serif;
    color: white;


}

#mainTitle2{
    margin-left: 65px;
    /*margin-top: 20px;*/
    font-size: 40px;
    font-family: 'Muli', sans-serif;
    color: white;
}

.modal-body{
    background-color: #4152D0;
}

#modalButton{
    background-color: #FF7D4A;
    color:#4152D0;
}

.modal-body-font{
    color:white;
    font-family: 'Nanum Gothic', sans-serif;
    margin-top: -30px;

}

#modalCheckBox{
    color:white;
    font-family: 'Nanum Gothic', sans-serif;

}

#modalCircle{
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
}

#modalDescribLogo{
    width:17px;
    height:17px;
    margin-left: 5px;
    margin-bottom: 5px;

}


.modal-header{
    background-color: #FF7D4A;
    color:white;
    font-family: 'Ubuntu', sans-serif;

}


.modal-footer{
    background: #FF7D4A;
    color: white;
    font-size:20px;
}

#modalFooterFont{
    margin-top: 20px;
    font-family: 'Ubuntu', sans-serif;

}



#modalLocationLogo{
    width:20px;
    height:20px;
    margin-left: 5px;
    margin-bottom: 5px;

}

#modalLogoFooter img{
    margin-top: 5px;
    margin-left: 5px;
    width: 30px;
    height: 30px;
}

#modalUploadLogo{
    width:20px;
    height:20px;
    margin-left: 5px;
    margin-bottom: 5px;
}


#modalWater{
    margin-top:-20px ;
}

#modalWaterLogo{
    width:20px;
    height:20px;
    margin-left: 5px;
    margin-bottom: 5px;

}
.nav{
    /*display: flex;*/
    /*justify-content: center;*/
    height: 100px;
    width: auto;
    font-family: 'Ubuntu', sans-serif;
    /*background-color: #4152D0;*/
    font-size: 20px;



}





#navBar{
    /*color: #4152D0;*/
    /*background-color: white;*/
    position:relative;
    /*width: auto;*/



}

.navCenter{
    display: flex;
    justify-content: center;
    background-color: #4152D0;
    margin-bottom: -30px ;
    height: 105px;
    width: auto;
    /*margin-top: 50px;*/

/*come back to me */

}


#navCircle{
    width: 50px;
    height:50px;
    margin-right: -20px;
    margin-left: -25px;
    margin-top: 15px;
    background-color: white;
    border-radius: 50%;
}

#navHead{
    margin-left: 70px;
    margin-top: 30px;
    position:absolute;
    font-size: 30px;
    color:#FF7D4A;
    font-family: 'Titillium Web', sans-serif;

}
.nav-item{
    margin-top: 50px;
    width: auto;


}

.nav-link{
    color:white;
    padding: 0px;
    margin-top: 20px;

    /*display: inline-block;*/
    /*justify-content: center;*/

}

#navLine{
    border: .5px solid #FF7D4A;
    color: white;
    width: 250px;
    position: absolute;
    margin-top: 65px;
    margin-left:75px;

}


#navLinkCenter{
   margin-left: -40px;
   /*margin-bottom: 20px;*/
   /* margin-top: 50px;*/
}
#navLogin{
    color:white;
    margin-top: 11px;
    padding-left:0px;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
}

#navLogout{
    color:white;
    margin-top: 11px;
    padding-left:0px;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
}

#navLogo{
    width:40px;
    height:40px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: -5px;

}


#navProfile img{
    width: 30px;
    height:30px;
    position:absolute;
    display: flex;
    margin-left: 330px;
    margin-top: 17px;
}
#navTriangle{
    display: inline-flex;
    justify-content: center;
    /*margin-right: 80px;*/
    margin-left: -50px;
    margin-right: 29px;
    margin-top: 20px;
    width: 0;
    height: 0;
    border-left: 240px solid transparent;
    border-right: 240px solid transparent;
    border-top: 50px solid #4152D0;


}

#zipcode-button{
    /*margin-left:;*/
    width: 20px;
    height:40px;
    background-color: #4152D0;
    color:white;
    font-size: 20px;


}

#zipcode-button-icon{
    margin-top:-15px;
}


#UserReportSearchButton{
    background-color: #4152D0;
    padding: 0px;
    margin-left: 5px;
    margin-top: 10px;
    color:white;
    width: 20px;
    height:40px;
    font-size: 20px;

}


#userReportSearchLogo{
    width:17px;
    height:17px;
    margin-left: 5px;
    margin-bottom: 5px;


}
#userReportSearch{
    margin-top: 10px;
    margin-left: 20px;

}




.container{
}


/*#navTriangleShadow{*/
/*    width: 400px;*/
/*    height: 400px;*/
/*    background-color:#4152D0;*/

/*    !*-moz-box-shadow:    3px 3px 5px 6px #000000;*!*/
/*    !*-webkit-box-shadow: 3px 3px 5px 6px #000000;*!*/
/*    !*box-shadow:         3px 3px 5px 6px #000000;*!*/

/*}*/


@media screen and (min-width: 992px) {

body{
        /*background-repeat: no-repeat;*/
    }

.nav {
        margin-left: 640px;
        display: flex;
        justify-content: center;
}

.navCenter {
        /*display: flex;*/
        /*justify-content: center;*/
        background-color: #4152D0;
        margin-bottom: -30px;
        height: 105px;
        width: auto;
        /*margin-top: 50px;*/

        /*come back to me */

    }



#navCircle {
        width: 50px;
        height: 50px;
        margin-right: -20px;
        margin-left: -630px;
        margin-top: 15px;
        background-color: white;
        border-radius: 50%;
}


#navHead {
        margin-left: 95px;
        margin-top: 30px;
        position: absolute;
        font-size: 30px;
        color: #FF7D4A;
        font-family: 'Titillium Web', sans-serif;

    }


#navLine {
        border: .5px solid #FF7D4A;
        color: white;
        width: 250px;
        position: absolute;
        margin-top: 65px;
        margin-left: 95px;

    }

#navLogo {
        width: 40px;
        height: 40px;
        margin-left: 5px;
        margin-top: 5px;
        margin-bottom: -5px;
}

#navLogout{
    margin-bottom: -10px;
}

#navProfile img {
        width: 30px;
        height: 30px;
        position: absolute;
        display: flex;
        justify-content: flex-end;
        margin-left: 1610px;
        margin-top: 17px;
    }


#navTriangle {
        display: inline-flex;
        /*justify-content: center;*/
        /*margin-right: 80px;*/
        margin-left: -120px;
        margin-right: 29px;
        margin-top: 25px;
        width: 0;
        height: 0;
        border-left: 970px solid transparent;
        border-right: 970px solid transparent;
        border-top: 50px solid #4152D0;

    }

}