

html{
    /*margin:0px;*/

}

body{

    /*background-color: #D8D1C2;*/
    /*background-image:url("images/matthew-lejune-IpvDhQjrewM-unsplash.jpg");*/
    /*background-position: -760px;*/
    /*background-position-y: 1120%;*/
    /*height: 2959px;*/
    /*background-size: 1900px;*/
    /*!*background-repeat: no-repeat;*!*/
    /*!*margin-top: 150px ;*!*/
    /*!*position: static;*!*/
    /*!*background-attachment: fixed;*!*/
    /*padding-bottom: 300px;*/
    /*background-color: #9ebdcb;*/
    background-image: linear-gradient(180deg, #9ebdcb 25%, #fbf0e3 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;



}

.about{

}

.aboutList {
    list-style: none;
    padding-left: 0;
    /*background-color: rgba(0,0,0,.5);*/
}
.aboutList li {
    position: relative;
    padding-left: 20px;
}
.aboutList li:before {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    /*background-image: url('images/waves (1).png');*/
    background-size: cover;
    background-position: center;
    left: 0;
    top: 25%;
    transform: translateY(-50%);
    margin-left: -20px;
}
li{
    margin-left: 30px;
    margin-top: 20px;
    color: black;
}


li img{
    width: 20px;
    height: 20px;
}
.badge{

    margin-top: 30px;
}

#backImg{
    margin-bottom: 200px;
}

#cardAuthor{
    font-size: 50px;
}

#card-wrapper{
    margin-top: 30px;
}

#cardBody{
    background-color: #ffffff;
    /*color:white;*/
}

/*.card-body{*/
/*    background-color: #4152D0;*/
/*}*/

#cardEndor{
    font-size: 30px;
}

/*.cardTitle{*/
/*    color:black;*/
/*}*/

#cautionBox{
    height: 190px;
    width: 190px;
    background-color:#FCEA1A;
    transform: rotate(49deg);
    margin-top: 110px;
    margin-left:90px;
    border-radius: 20px;
    opacity: 90%;
    padding-top:15px;
    padding-left: 15px;
}

#cautionBoxLine{
    border: 3px solid #4152D0;
    width:165px;
    height: 165px;
    transform: rotate(90deg);
    border-radius:15px;
    padding-top: 40px;
    padding-right: 5px;
    padding-left: 5px;
    margin-right:-10px;


}

#cautionFont1{
    transform: rotate(220deg);
    font-size:25px;
    /*margin-bottom: 30px;*/
    font-family: 'Ubuntu', sans-serif;
    margin-right:10px;
    margin-left: 60px;
    margin-top: -5px;
    color: #4152D0;


}

#cautionFont2{
    transform: rotate(220deg);
    font-size:25px;
    /*margin-bottom: 30px;*/
    font-family: 'Ubuntu', sans-serif;
    margin-left:50px;
    margin-right: 75px;
    color: #4152D0;
}

#cautionFont3{
    transform: rotate(220deg);
    font-size:25px;
    /*margin-bottom: 30px;*/
    font-family: 'Ubuntu', sans-serif;
    margin-left: -30px;
    margin-right:-15px;
    color: #4152D0;


}

.container-fluid{
    margin-left: -20px;
    /*margin-right: auto;*/
    width:auto;
    background-color: #4152D0;
}

#comment{
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}


.d-flex{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: auto;
}

#edit-title{
    color:white;
}


#editCloseButton{
    color:white;

}
#edit-body{
    color:white;
}


#editForumSubmitButton{
    background-color: #FF7D4A;
    color:white;
}

.editTitleBodyCard{
    color:white;
}

.editTitleBody{
    color:white;
}
.form-text{
    color: #FF7D4A;
}

.mb-2, .my-2{
    margin: 0 !important;
}
div footer{
    position: fixed;
    /*margin-bottom: 0;*/
    /*bottom:0;*/
}


#forumCardPost{
    font-family: 'Nanum Gothic', sans-serif;
    margin-bottom: 20px;
    padding: 10px;
    /*box-shadow: 0 0.5px 0 0 #ffffff inset, 0 1px 2px 0 #B3B3B3;*/
    background-color: floralwhite;
    border: white solid 1px;
    border-bottom: 0 none;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);


}

#forumCardDescrip{
    background-color: rgba(255, 125, 74, 0.89);
    border-radius: 10px;
    margin-bottom: 10px;
    color: white;
    box-shadow: 0 0.5px 0 0 #ffffff inset, 0 1px 2px 0 #B3B3B3;
    /*border: white 1px solid;*/

}

.forumEditDelete{
    color:white;
    padding-left: 10px;
    /*text-align: center;*/
    /*border: white 1px solid;*/

}

/*#forumEditButton{*/
/*    margin-right: 20px;*/
/*}*/

/*#forumDeleteButton{*/
/*    margin-left: 20px;*/
/*}*/


.forumDeleteYesNoButton{
    margin-top: 10px;
    color:white;
    width: 90px;
    height: 40px;
}

#forumDropDown {
    background-color: #4152D0;
    border: none;
    /*#forumDropDown{*/
    /*    background-color: #4152D0;*/
    /*    border: none;*/

}

.forumPostButton{
    background-color: #4152D0;
    color:white;
    font-size: 20px;
    /*width: 35px;*/
    /*height: 35px;*/
}

#forumPostCommentCard{
    margin-bottom: 20px;
}


.forumLeaveCommentButton{
    background-color: #4152D0;
    color:white !important;
    box-shadow: 0 0.5px 0 0 #ffffff inset, 0 1px 2px 0 #B3B3B3;

}

#forumLeaveCommentIcon{
    width: 18px;
    height: 18px;
}

.forumInputTitles {
    font-family: 'Nanum Gothic', sans-serif;
    color:white;
}


#forumSubmitButton{
    /*margin:auto;*/
    background-color: #4152D0;
    margin-left: 30%;
    margin-top: 20px;
    border-radius: 5px;
    width:150px;
    height: 50px;
    font-size: 20px;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);


}

#forumSubmitButton img{
    width: 20px;
    height: 20px;
    margin-left: 10px;
}





#forumTitle{
    text-align: center;
    margin-top: 30px;
    color:white;
    font-family: 'Muli', sans-serif;


}



#line1{
    border: 1px solid black;
    color: black;
    width: 300px;
    margin-top: 90px;
}

#line2{
    color:black;
    width: 300px;
    border: 1px solid black;
    margin-bottom: 40px;
}




#loginBox{
    border: 2px solid white;
    margin-top: 30px;
    margin-left: 40px;
    height: 290px;
    width: 300px;
    padding-top: -20px;
    padding-right: 20px;
    padding-left:20px;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);

}


#loginCont{
    margin-left:60px;
    margin-top: -60px;
    padding-top:20px
    /*font-size: 20px;*/

}
.loginFont{
    font-size: 20px;
}

#loginInputUser{
    font-size: 10px;
}

#loginInputPassword{
    font-size: 10px;
}
#loginLogo{
    width:10px;
    height: 10px
}


#logo{
    margin-top: 10px;
    margin-left: 20px;
    position: absolute;
}



/*#logo1{*/
/*    display:none;*/
/*}*/
/*#navCircle1{*/
/*    display:none;*/
/*}*/
/*#navlogo1{*/
/*    display:none;*/
/*}*/

#loginSubmit{
    background-color: #4152D0;
    /*margin-top: 20px;*/
}

#loginReg{
    background-color: #FF7D4A;
    margin-top: 10px;
}

.loginSubReg{
    border-radius: 5px;
    width:150px;
    height: 50px;
    font-size: 20px;
    color: white;
    margin-left:50px;
    /*margin-top: 10px;*/
    font-family: 'Ubuntu', sans-serif;
    box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);


}




#map{
    border: 1px solid white;
    /*margin: 5px;*/
}

#mapBox{
    margin-top: 20px;
    margin-bottom: 20px;
}

#mapCardEndorButton{
    color:white;
    font-size: 15px;
    margin-left: 30px;
}




.mapCardThumb{
    /*margin-left: 70px;*/
}


#mapCardDescrp{
    border: 1px solid white;
    color:white;
    width: 230px;
    height: 100px;
    padding: 5px;
    border-radius: 5px;
}

#mapCardIcon{
    height: 20px;
    width: 20px;
}

#mapCardAuthorTitle{
    color:white;
    font-size: 20px;
    text-align: center;
    /*margin-top: 20px;*/
}

#mapCardUserBox{
    background: rgba(65, 82, 208, 0.80);
    /*opacity: 60%;*/
    box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);
    /*margin: 0px;*/
    width: 250px;
    padding: 10px;
    font-family: 'Nanum Gothic', sans-serif;
    border-radius: 10px;


}

#mapCardTitle{
    color: white;
    padding: 20px;
    text-align: center;
    font-family: 'Nanum Gothic', sans-serif;

}



#mapHead{
    font-family: 'Ubuntu', sans-serif;
    color:white;
    font-size: 30px;
    margin-top: 30px;
}



#mapRegisterButton{
    margin-right: 25px;
    width: 20px;
    height:40px;
    background-color: #FF7D4A;
    color: white;
}

#mapZipSearch{
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 5px;

}

#mainRow{
    display: flex;
    justify-content: center;
}

#mainTitleContainer{
    display:  inline-block;
    justify-items: center;
}

#mainTitle1{
    margin-left: 60px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 40px;
    font-family: 'Muli', sans-serif;
    color: white;


}

#mainTitle2{
    margin-left: 65px;
    /*margin-top: 20px;*/
    font-size: 40px;
    font-family: 'Muli', sans-serif;
    color: white;
}

.modal-body{
    background-color: #4152D0;
}

#modalButton{
    background-color: #FF7D4A;
    color:white;
}

.modal-body-font{
    color:white;
    font-family: 'Nanum Gothic', sans-serif;
    margin-top: -30px;

}

.modal-content{
    background-color: #4152D0;
}

#modalCheckBox{
    color:white;
    font-family: 'Nanum Gothic', sans-serif;

}

#modalCircle{
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
}

#modalDescribLogo{
    width:17px;
    height:17px;
    margin-left: 5px;
    margin-bottom: 5px;

}


.modal-header{
    background-color: #FF7D4A;
    color:white;
    font-family: 'Ubuntu', sans-serif;

}


.modal-footer{
    background: #FF7D4A;
    color: white;
    font-size:20px;
}

#modalFooterFont{
    margin-top: 20px;
    font-family: 'Ubuntu', sans-serif;

}



#modalLocationLogo{
    width:20px;
    height:20px;
    margin-left: 5px;
    margin-bottom: 5px;

}

#modalLogoFooter img{
    margin-top: 5px;
    margin-left: 5px;
    width: 30px;
    height: 30px;
}

#modalUploadLogo{
    width:20px;
    height:20px;
    margin-left: 5px;
    margin-bottom: 5px;
}


#modalWater{
    margin-top:-20px ;
}

#modalWaterLogo{
    width:20px;
    height:20px;
    margin-left: 5px;
    margin-bottom: 5px;

}

#modal

.nav{
    /*display: flex;*/
    /*justify-content: center;*/
    height: 135px;
    width: auto;
    font-family: 'Ubuntu', sans-serif;
    background-color: #4152D0;
    font-size: 20px;
    /*display: inline-block;*/
    /*margin-top: 10px;*/
    margin-left: 35px;



}


.nav a:hover{
    /*display: inline-block;*/
    color:white;
}


#navBar{
    /*color: #4152D0;*/
    /*background-color: white;*/
    /*position:relative;*/
    width: auto;



}

.navCenter{
    /*display: flex;*/
    /*justify-content: center;*/
    background-color: #4152D0;
    margin-left: -30px;
    /*margin-bottom: -30px ;*/
    /*height: 120px;*/
    /*width: auto;*/
    /*margin-top: 50px;*/

/*come back to me */

}


#navCircle{
    width: 50px;
    height:50px;
    display: flex;
    /*display: inline-block;*/
    /*position: relative;*/
    /*margin-right: -20px;*/
    margin-left: 10px;
    margin-top: 10px;
    /*margin-bottom: -20px;*/
    background-color: white;
    border-radius: 50%;
}

#navContainer{
    /*display: inline;*/
    width:auto;
    /*width: 200px;*/
    background-color: #4152D0;
    margin-left: -20px;
}

#navHead{
    margin-left: 70px;
    margin-top: -40px;
    /*position:absolute;*/
    font-size: 30px;
    color:#FF7D4A;
    font-family: 'Titillium Web', sans-serif;

}
.nav-item{
    margin-top: 80px;
    margin-left: 10px;
    /*width: auto;*/
    /*background-color: #4152D0;*/


}

.nav-link{
    color:white;
    padding: 0px;
    font-size: 20px;
    margin-bottom: 20px;

    /*margin-top: 20px;*/

    /*display: inline-block;*/
    /*justify-content: center;*/
    /*margin-bottom: -30px;*/

}

#navLine{
    border: .5px solid #FF7D4A;
    color: white;
    width: 220px;
    /*position: absolute;*/
    margin-top: -10px;
    margin-left:70px;

}


#navLinkCenter{
   /*margin-left: -40px;*/
   /*margin-bottom: 50px;*/
   /*display: inline-block;*/
    /*margin-top: 50px;*/
    /*padding-bottom: 90px;*/
}
#navLogin{
    color:white;
    margin-top: -6px;
    padding-left:0px;
    font-size: 19px;
    font-family: 'Ubuntu', sans-serif;
}

#navLogout{
    color:white;
    margin-top: -6px;
    padding-left:0px;
    font-size: 19px;
    font-family: 'Ubuntu', sans-serif;
}

#navLogo{
    width:40px;
    height:40px;
    margin:auto;
    /*margin-left: 5px;*/
    /*margin-top: 5px;*/
    /*margin-bottom: -5px;*/

}


#navProfile img{
    width: 30px;
    height:30px;
    position:absolute;
    display: flex;
    margin-left: 330px;
    margin-top: 20px;
}


#navTriangle{
    display: inline-flex;
    justify-content: center;
    /*margin-right: 80px;*/
    margin-left: -75px;
    margin-right: 29px;
    margin-top: -10px;
    width: 0;
    height: 0;
    border-left: 255px solid transparent;
    border-right: 255px solid transparent;
    border-top: 50px solid #4152D0;
    /*position: relative;*/
    text-shadow: 0 1px 1px rgba(0,0,0,0.5);
    font-size: 50px;


}

#profileCard{

    font-family: 'Ubuntu', sans-serif;
    background-color: #FF7D4A;
    color: white;
}



#profileEditButton{
    margin-left: 15px;
}

#profileDeleteButton{
    margin-left: 190px;
    margin-top: -70px;
}
.profileEditDeleteButton{
    margin-bottom: 10px;
    width: 140px;
    height: 60px;
    margin-left: 27%;
    font-size: 20px;
    box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);


}

#profileMaincard{
    margin-top: 50px;
    margin-bottom: 30px;

}

#navTriangleShadow{
    /*position:absolute;*/
    margin-top: 20px;
}


#UserReportSearchButton{
    background-color: #4152D0;
    /*padding: 0px;*/
    margin-left: 5px;
    margin-right: 20px;
    margin-top: 10px;
    color:white;
    width: 20px;
    height:37px;
    font-size: 20px;
    display: flex;
}


#userReportSearchLogo{
    width:17px;
    height:17px;
    /*margin-left: 5px;*/
    /*margin-bottom: 5px;*/
    margin:auto;


}
#userReportSearch{
    margin-top: 10px;
    margin-left: 20px;

}

.red{
    background-color: rgba(255, 125, 74, 0.89);
    height: 40px;
    width: 350px;
    font-size: 15px;
    margin-top: 10px;
    margin-left: 10px;
    color:white;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
}



#registerButton{
    margin-left: 120px;
    margin-top: 30px;
    width: 120px;
    height: 50px;
    background-color: #FF7D4A;
    color:white;
    border-radius:5px;
    font-family: 'Nanum Gothic', sans-serif;
    box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);

}

#registerContainer{
    margin-top: 60px;
}

.registerInputTitle{
    color:white;
    font-family: 'Nanum Gothic', sans-serif;

}

#registerRoadSign{
    display: flex;
    justify-content: center;
    width: 300px;
    height: 300px;
    margin-left: 40px;
    margin-top: 100px;

}




#zipcode-button{
    margin-left:10px;
    width: 20px;
    height:40px;
    background-color: #4152D0;
    color:white;
    font-size: 20px;
    margin-bottom: 5px;


}

#zipcode-button-icon{
    margin-top:-15px;

}

#zipcode-input{
    margin-left: 20px;
}


/*#navTriangleShadow{*/
/*    width: 400px;*/
/*    height: 400px;*/
/*    background-color:#4152D0;*/

/*    !*-moz-box-shadow:    3px 3px 5px 6px #000000;*!*/
/*    !*-webkit-box-shadow: 3px 3px 5px 6px #000000;*!*/
/*    !*box-shadow:         3px 3px 5px 6px #000000;*!*/

/*}*/


@media screen and (min-width: 992px) {

#about{
    /*margin-left:*/
}

.aboutList{
    margin-left: 40%;
}


body{
        /*background-repeat: no-repeat;*/
    }



#cautionBox{

    margin-left: 45%;

}

#forumSubmitButton{

margin-left: 44%;

}

#logo{
        margin-left: 200px;
        margin-top: -30px;
        position: absolute;
    }



.linkContainer{
        margin-left: 920px;
        height: 140px;
    }


.nav{
    margin-left: 50px;
}

#navCircle{
    /*margin-left: 900px;*/
}




/*#navLogo{*/
/*    margin:auto;*/
/*}*/

.nav-item{
    margin-left: 45px;
    font-size: 30px;
    margin-top: 60px;

}

#navbar{
    margin-left:20px;
    /*overflow: auto;*/
}

#navLogin{
    font-size: 29px;
}

/*#navLogout{*/
/*    margin-top: -8px;*/
/*}*/

#navLogout{
        margin-bottom: -4px;
        font-size: 29px;
    }

#navProfile img{
    /*margin-bottom: -100px;*/
    width: 150px;
    height:150px;


}

.nav-link{
    font-size: 30px;
}


#loginBox{
    margin-left: 700px;
}

#mainTitleContainer{
    margin-left:40%;
}
#mainTitle1{

    text-align: center;
}

#mainTitle2{
    text-align: center;
    margin-left: 50px;
}
.nav {
        margin-left: 640px;
        display: flex;
        justify-content: center;
}

.navCenter {
        /*display: flex;*/
        /*justify-content: center;*/
        background-color: #4152D0;
        margin-bottom: -30px;
        height: 105px;
        width: auto;
        /*margin-top: 50px;*/

        /*come back to me */

    }


#navCircle {
        width: 70px;
        height: 70px;
        display: flex;
        /*margin-right: -20px;*/
        margin-left: -100px;
        margin-top: 60px;
        /*position: relative;*/
        /*background-color: white;*/
        /*border-radius: 50%;*/
}




#navLogo{
    width: 60px;
    height: 60px;
    margin:auto;

}


#navHead {
        margin-left: -15px;
        margin-top: -55px;
        position: absolute;
        font-size: 50px;
        color: #FF7D4A;
        font-family: 'Titillium Web', sans-serif;

    }

.nav-item{


    /*display: flex;*/
    /*justify-content: center;*/
    /*font-size: 30px;*/
        /*margin-top: 80px;*/
        /*margin-left: 10px;*/
        /*width: auto;*/
        /*background-color: #4152D0;*/


    }

#navLine {
        border: 1px solid #FF7D4A;
        color: white;
        width: 550px;
        /*position: absolute;*/
        margin-top: 10px;
        margin-left: -15px;

    }

/*#navLogo2 img {*/
/*        width: 40px;*/
/*        height: 40px;*/
/*        margin-left: 5px;*/
/*        margin-top: 5px;*/
/*        margin-bottom: -5px;*/
/*}*/



#navProfile img {
        width: 70px;
        height: 70px;
        position: absolute;
        display: flex;
        justify-content: flex-end;
        margin-left: 1510px;
        margin-top: 30px;
    }


#navTriangle {
        display: inline-flex;
        /*justify-content: center;*/
        /*margin-right: 80px;*/
        margin-left: -120px;
        margin-right: 29px;
        margin-top: -5px;
        width: 0;
        height: 0;
        border-left: 970px solid transparent;
        border-right: 970px solid transparent;
        border-top: 50px solid #4152D0;

    }




.profileEditDeleteButton{
    margin-left: 80px;
}
}