/*html{*/
/*    background-image:url("images/matthew-lejune-IpvDhQjrewM-unsplash.jpg");*/
/*}*/

body{
    background-color: #D8D1C2;
    background-image:url("images/matthew-lejune-IpvDhQjrewM-unsplash.jpg");
    background-position: -1500px;
    background-position-y: -5%;
    /*background-repeat: no-repeat;*/
    /*margin-top: 150px ;*/

}

#backImg{
    margin-bottom: 200px;
}


#cautionBox{
    height: 350px;
    width: 350px;
    background-color:#FCEA1A;
    transform: rotate(50deg);
    margin: 300px;
    border-radius: 20px;
    opacity: 80%;
}


#loginBox{
    border: 2px solid white;
    margin-top: 190px;
    margin-left: 250px;
    height: 500px;
    width: 500px;
    padding: 50px;


}


#loginCont{
    margin-left:120px;
    margin-top: 30px;
    font-size: 20px;
}
.loginFont{
    font-size: 50px;
}

#loginInputUser{
    font-size: 30px;
}

#loginInputPassword{
    font-size: 30px;
}
#loginLogo{
    width:30px;
    height: 30px
}





#loginSubmit{
    background-color: #4152D0;
    margin-top: 20px;
}

#loginReg{
    background-color: #FF7D4A;
    margin-top: 10px;
}

.loginSubReg{
    border-radius: 15px;
    width:200px;
    height: 70px;
    font-size: 30px;
    color: white;
    margin-left:100px;
    margin-top: 30px;
    font-family: 'Ubuntu', sans-serif;


}


.nav{
    height: 200px;
    width: auto;
    font-family: 'Ubuntu', sans-serif;
    background-color: #4152D0;
    font-size: 40px;



}


#navBar{
    color: #4152D0;
    background-color: white;
    position:relative;

}

.navCenter{
    display: flex;
    justify-content: center;
    background-color: #4152D0;
    margin-bottom: -30px ;



}


#navCircle{
    width: 100px;
    height:100px;
    margin-left: -220px;
    margin-top: 20px;
    background-color: white;
    border-radius: 50%;
}

#navHead{
    margin-left: 125px;
    margin-top: 30px;
    position:absolute;
    font-size: 70px;
    color:#FF7D4A;
    font-family: 'Titillium Web', sans-serif;

}
.nav-item{
    margin-top: 140px;




}

.nav-link{
    color:white;


}


#navLinkCenter{
   margin-left: 100px;
   margin-bottom: 20px;
}
#navLogin{
    color:white;
    font-size: 40px;
}

#navLogo{
    width:60px;
    height:60px;
    margin-left: 20px;
    margin-top: 20px;

}

#navTriangle{
    display: inline-flex;
    justify-content: center;
    /*margin-right: 80px;*/
    margin-left: -50px;
    margin-top: 29px;
    width: 0;
    height: 0;
    border-left: 540px solid transparent;
    border-right: 540px solid transparent;
    border-top: 100px solid #4152D0;

}


/*#navTriangleShadow{*/
/*    width: 400px;*/
/*    height: 400px;*/
/*    background-color:#4152D0;*/

/*    !*-moz-box-shadow:    3px 3px 5px 6px #000000;*!*/
/*    !*-webkit-box-shadow: 3px 3px 5px 6px #000000;*!*/
/*    !*box-shadow:         3px 3px 5px 6px #000000;*!*/

/*}*/