
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="partials/header :: head">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<nav th:include="partials/navbar :: nav"></nav>
<h1>forum</h1>
<hr>
<div class="container">
    <form  th:action="@{'/forum/post'}" method="post" th:object="${post}">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" th:field="*{title}">
            <small id="emailHelp" class="form-text text-muted">Name your post</small>
        </div>
        <div class="form-group">
            <label for="body">Body</label>
            <input type="text" class="form-control" id="body" th:field="*{body}">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <hr>
    <th:block th:each="singlePost : ${posts}">
        <div class="card">
            <small th:text="${singlePost.title}"></small>
            <div class="card-body" th:text="${singlePost.body}">
                This is some text within a card body.
            </div>
            <div class="row">
                <div class="col">
                    <!--            dropdown-->
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">
                        View Comments
                        </button>
                        <th:block th:if="${userId == singlePost.user.id}">
            
                        </th:block>
                        <div class="dropdown-menu">
                            <th:block th:each="comment : ${singlePost.comments}">
                                <a class="dropdown-item" href="#" th:text="${comment.body}">Action</a>
                
                            </th:block>
                        </div>
                    </div>
    
                </div>
                <div class="col">
<!--                    //EDIT BUTTON-->
                    <button type="button" class="btn btn-secondary" data-toggle="modal"
                            data-target="#myModal" th:attrappend="data-target=${singlePost.id}">
                        Edit Post
                    </button>
                </div>
                <div class="col"></div>

            </div>
            <!--EDIT Modal -->
            <div class="modal fade" id="myModal" role="dialog" th:attrappend="id=${singlePost.id}">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Edit Comment</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form th:action="@{'/forum/post/edit/'+ ${singlePost.id}}" method="post" >
                                <div class="form-group">
                                    <label for="title">Title</label>
                                    <input type="text" class="form-control" id="edit-title"
                                           th:value="${singlePost.title}" th:name="title">
                                    <small id="titleHelp" class="form-text text-muted">Edit title</small>
                                </div>
                                <div class="form-group">
                                    <label for="edit-body">Body</label>
                                    <input type="text" class="form-control" id="edit-body" th:name="body"
                                    th:value="${singlePost.body}">
                                    <small id="bodyHelp" class="form-text text-muted">Edit body</small>
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
<!--            end edit form-->

            
<!--            end-->
        </div>
    </th:block>
</div>


</body>
</html>