
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="partials/header :: head">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<script src="https://kit.fontawesome.com/ca2faa0508.js"></script>
<nav th:include="partials/navbar :: nav"></nav>
<div class="container">
<h1>forum</h1>
<hr>
    <form  th:action="@{'/forum/post'}" method="post" th:object="${post}">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" th:field="*{title}">
            <small id="emailHelp" class="form-text text-muted">Name your post</small>
        </div>
        <div class="form-group">
            <label for="body">Body</label>
            <input type="text" class="form-control" id="body" th:field="*{body}">
            <small id="bodyFormHelp" class="form-text text-muted">Let us know whats going on...</small>

        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <hr>
    <th:block th:each="singlePost : ${posts}">
        <div class="card" style="margin: 0 10px 10px 10px; padding: 10px">
            <small>
                 By:
                <span th:text="${singlePost.user.username.toUpperCase()}"></span>
            </small>
            <div class="card-body" th:text="${singlePost.body}">
                This is some text within a card body.
            </div>
            <div class="d-flex justify-content-end">
                    <!--            dropdown-->
                    <div class="dropdown">
                        <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button"
                                id="dropdownMenuButton"
                                data-toggle="dropdown"
                                style="margin: 0 10px">
                        Leave a comment
                        </button>
                        <div class="dropdown-menu">
                            <form th:action="@{'/forum/comment/'+ ${singlePost.id}}" method="post"
                            th:object="${comment}">
                                <small id="commentHelp" class="form-text text-muted">Add to the discussion
                                </small>
                                <input type="text" th:field="*{body}"
                                class="form-control" id="comment">
                                <button type="submit" class="btn">
                                    <small>Post</small>
                                </button>
                            </form>
                            <th:block th:each="comment : ${singlePost.comments}">
                                <div style="border: 1px solid lightslategrey; border-radius: 8px;">
                                <small>
                                    <i class="fas fa-angle-double-right"></i>
                                    <a class="dropdown-item" href="#" th:text="${comment.body}">Action</a>
                                </small>
<!--                                !!!!EDIT COMMENT-->
<!--                                END COMMENT EDIT MAYBE**-->
                                <form th:action="@{'/comment/delete/'+ ${comment.id}}" method="post">
                                    <button type="submit" class="float-right">
                                        <i class="fas fa-trash fa-xs"></i>
                                    </button>
                                </form>
                                <hr>
                                </div>
                            </th:block>
                        </div>
                    </div>
    
<!--                    //EDIT BUTTON-->
                <th:block th:if="${singlePost.user.id == userId}" >
                    <button type="button" class="btn btn-outline-secondary btn-sm"          data-toggle="modal"
                            data-target="#myModal" th:attrappend="data-target=${singlePost.id}"
                            style="margin: 0 10px">
                        Edit Post
                    </button>
                    <!-- Delete trigger modal -->
                    <button type="button" class="btn btn-outline-secondary btn-sm"          data-toggle="modal"
                            data-target="#delete" th:attrappend="data-target=${singlePost.id}"
                            style="margin: 0 10px">
                        Delete Post
                    </button>
                </th:block>
                </div>
            

            <!--EDIT Modal -->
            <div class="modal fade" id="myModal" role="dialog" th:attrappend="id=${singlePost.id}">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Edit Comment</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form th:action="@{'/forum/post/edit/'+ ${singlePost.id}}" method="post" >
                                <div class="form-group">
                                    <label for="title">Title</label>
                                    <input type="text" class="form-control" id="edit-title"
                                           th:value="${singlePost.title}" th:name="title">
                                    <small id="titleHelp" class="form-text text-muted">Edit title</small>
                                </div>
                                <div class="form-group">
                                    <label for="edit-body">Body</label>
                                    <input type="text" class="form-control" id="edit-body" th:name="body"
                                    th:value="${singlePost.body}">
                                    <small id="bodyHelp" class="form-text text-muted">Edit body</small>
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
<!--           Delete end edit form-->
            <!--DELETE Modal -->
            <div class="modal fade" id="delete" tabindex="-1" role="dialog" th:attrappend="id=${singlePost.id}">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="username" th:text="${singlePost.user.firstName}">
                            </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form th:action="@{'/forum/post/delete/'+ ${singlePost.id}}" method="post">
                                Delete Post?
                                <button type="submit" class="btn btn-secondary" >Yes</button>
                            </form>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>

                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
                </div>
            </div>
            
<!--            end-->
        </div>
    </th:block>
</div>

<!--delete modal-->


</body>
</html>