<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Navbar</title>
</head>
<body>



<nav th:fragment="nav" id="navBar">


    <h1 id="navHead">BCRW</h1>
<!--    <h1 id="navHead2">Bexar County Road Watch</h1>-->
    <hr id="navLine">

<!--    PROFILE LOGO LINK-->

    <div id="navProfile"><a th:href="@{'/user/profile'}"><img src="images/round-account-button-with-user-inside.png"></a></div>

<!--////////////-->
    <div class="navCenter">

        <div id="navCircle">
            <img id="navLogo" src="images/tracking.png">
        </div>


    <div id="navLinkCenter">

      <ul class="nav">
<!--          <ul class="nav justify-content-end">-->
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/map">Map</a>
        </li>



        <li class="nav-item">
            <a class="nav-link" href="/forum">Forum</a>
        </li>
        <th:block sec:authorize="!isAuthenticated()">
            <li class="nav-item">
                <a href="/" class="btn" id="navLogin">Login</a>
            </li>
        </th:block>
        <th:block sec:authorize="isAuthenticated()">
            <li class="nav-item">
                <form th:action="@{/logout}" method="post">
                    <button class="btn" type="submit" id="navLogout">Logout</button>
                </form>
            </li>
        </th:block>

<!--        <li class="nav-item">-->
<!--            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">dddddd</a>-->
<!--        </li>-->
    </ul>
    </div>
    </div>


<div id= "navTriangle">
</div>


</nav>
<!--<div id="navTriangleShadow"> </div>-->
</body>
</html>