<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="aboutus.css">
<head th:include="partials/header :: head">
    <meta charset="UTF-8">
    <title>About Us</title>
</head>
<body>
<div class="container-fluid">
    <nav th:include="partials/navbar :: nav"></nav>

    <div class="about text-center">

        <div class="card" style="width: 20rem;height: 35rem;">
            <img src="images/amber.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h3 class="card-title">Amber Jones</h3>
                <p class="card-text">Software Developer <br>
                    San Antonio, Texas</p>
                <a href="https://github.com/amberlovescats14" target="_blank"><img src="images/github.png" alt="" style="width: 50px;height: 50px;"></a>
                <a href="https://www.linkedin.com/in/jones210amber/" target="_blank"><img src="images/linkedin.png" alt="" style="width: 50px;height: 50px;"></a>
                <a href="https://alumni.codeup.com/students/753" target="_blank"><img src="images/codeupsign.png" alt="" style="width: 50px;height: 50px;"></a>
            </div>
        </div>

        <div class="card" style="width: 20rem;height: 35rem;">
            <img src="images/chrisa.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h3 class="card-title">Christopher Aguirre</h3>
                <p class="card-text">Software Developer <br>
                    San Antonio, Texas</p>
                <a href="https://github.com/christopheraguirre210" target="_blank"><img src="images/github.png" alt="" style="width: 50px;height: 50px;"></a>
                <a href="https://www.linkedin.com/in/christopher-aguirre210/" target="_blank"><img src="images/linkedin.png" alt="" style="width: 50px;height: 50px;"></a>
                <a href="https://alumni.codeup.com/students/761" target="_blank"><img src="images/codeupsign.png" alt="" style="width: 50px;height: 50px;"></a>
            </div>
        </div>

        <div class="card" style="width: 20rem;height: 35rem;">
            <img src="images/melinda.jpeg" class="card-img-top align-center" alt="...">
            <div class="card-body">
                <h3 class="card-title">Melinda Greene</h3>
                <p class="card-text">Software Developer <br>
                    San Antonio, Texas</p>
                <a href="https://github.com/MelindaGreene" target="_blank"><img src="images/github.png" alt="" style="width: 50px;height: 50px;"></a>
                <a href="https://www.linkedin.com/in/melindagreene/" target="_blank"><img src="images/linkedin.png" alt="" style="width: 50px;height: 50px;"></a>
                <a href="https://alumni.codeup.com/students/758" target="_blank"><img src="images/codeupsign.png" alt="" style="width: 50px;height: 50px;"></a>
            </div>
        </div>

        <div class="card" style="width: 20rem;height: 35rem;">
            <img src="images/rivergit%20copy.png" class="card-img-top align-center" alt="...">
            <div class="card-body">
                <h3 class="card-title">River Robins</h3>
                <p class="card-text">Software Developer <br>
                    San Antonio, Texas</p>
                <a href="https://github.com/RiverRobins" target="_blank"><img src="images/github.png" alt="" style="width: 50px;height: 50px;"></a>
                <a href="https://www.linkedin.com/in/riverrobins/" target="_blank"><img src="images/linkedin.png" alt="" style="width: 50px;height: 50px;"></a>
                <a href="https://alumni.codeup.com/students/762" target="_blank"><img src="images/codeupsign.png" alt="" style="width: 50px;height: 50px;"></a>
            </div>
        </div>
    </div>
</div>
</body>
</html>

<!--//FLIP CARDS JUST IN CASE-->
<!--        <div class="flip-card text-center">-->
<!--            <div class="flip-card-inner">-->
<!--                <div class="flip-card-front picture">-->
<!--                    <img src="images/amber.jpeg" alt="Avatar" style="width:300px;height:296px;">-->
<!--                </div>-->
<!--                <div class="flip-card-back">-->
<!--                    <img src="images/codeupsign.png" alt="icon" style="margin-left: 75%;height: 50px;width: 50px;">-->
<!--                    <h2>Amber Jones</h2>-->
<!--                    <p>Software Developer <br>-->
<!--                    San Antonio, Texas</p>-->
<!--                    <a href="https://github.com/amberlovescats14" target="_blank">GitHub: amberlovescats14</a><br>-->
<!--                    <a href="https://www.linkedin.com/in/jones210amber/" target="_blank">LinkedIn: jones210amber</a>-->
<!--                    <p>Email: jones.210.amber@gmail.com</p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="flip-card text-center">-->
<!--            <div class="flip-card-inner">-->
<!--                <div class="flip-card-front">-->
<!--                    <img src="images/chrisa.jpeg" alt="Avatar" style="width:300px;height:296px;">-->
<!--                </div>-->
<!--                <div class="flip-card-back">-->
<!--                    <img src="images/codeupsign.png" alt="icon" style="margin-left: 75%;height: 50px;width: 50px;">-->
<!--                    <h2>Christopher Aguirre</h2>-->
<!--                    <p>Software Developer</p>-->
<!--                    <a href="https://github.com/christopheraguirre210" target="_blank">GitHub: christopheraguirre210</a><br>-->
<!--                    <a href="https://www.linkedin.com/in/christopher-aguirre210/" target="_blank">LinkedIn: christopher-aguirre210</a>-->
<!--                    <p>Email: christopher.aguirre210@gmail.com</p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="flip-card text-center">-->
<!--            <div class="flip-card-inner">-->
<!--                <div class="flip-card-front">-->
<!--                    <img src="images/melinda.jpeg" alt="Avatar" style="width:300px;height:296px;">-->
<!--                </div>-->
<!--                <div class="flip-card-back">-->
<!--                    <img src="images/codeupsign.png" alt="icon" style="margin-left: 75%;height: 50px;width: 50px;">-->
<!--                    <h2>Melinda Greene</h2>-->
<!--                    <p>Software Developer</p>-->
<!--                    <a href="https://github.com/MelindaGreene" target="_blank">GitHub: MelindaGreene</a><br>-->
<!--                    <a href="https://www.linkedin.com/in/melindagreene/" target="_blank">LinkedIn: melindagreene</a>-->
<!--                    <p>Email: melindagreene711@gmail.com</p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="flip-card text-center">-->
<!--            <div class="flip-card-inner">-->
<!--                <div class="flip-card-front" id="river">-->
<!--                    <img src="images/river.png" alt="Avatar" style="width:400px;height:296px;">-->
<!--                </div>-->
<!--                <div class="flip-card-back">-->
<!--                    <img src="images/codeupsign.png" alt="icon" style="margin-left: 75%;height: 50px;width: 50px;">-->
<!--                    <h2>River Robins</h2>-->
<!--                    <p>Software Developer</p>-->
<!--                    <a href="https://github.com/RiverRobins" target="_blank">GitHub: RiverRobins</a><br>-->
<!--                    <a href="https://www.linkedin.com/in/riverrobins/" target="_blank">LinkedIn: riverrobins</a>-->
<!--                    <p>Email: rivergrahamrobins@gmail.com</p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->