<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="partials/header :: head">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta charset="UTF-8">
    <title>Register</title>

<body>

<style>
    input[type=text]{background: transparent;
    border: none;
    border-bottom: 1px solid #ffffff;
    border-radius: 0px}
</style>


<nav th:include="partials/navbar :: nav"></nav>
<div class="container" id="registerContainer">
<!--    <form th:action="@{/register}" method="post" th:object="${user}" class="text-center">-->
<!--        <div class="form-content">-->
<!--            <div class="row">-->
<!--                <div class="col-md-6">-->
<!--                    <div class="form-group">-->
<!--                        <input type="text" th:field="*{firstName}" class="form-control" placeholder="First Name *"-->
<!--                               value=""/>-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <input type="text" th:field="*{lastName}" class="form-control" placeholder="Last Name *" value=""/>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md-6">-->
<!--                    <div class="form-group">-->
<!--                        <input type="text" th:field="*{username}" class="form-control" placeholder="Username *" value=""/>-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <input type="text" th:field="*{email}" class="form-control" placeholder="Email *" value=""/>-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <input type="text" th:field="*{password}" class="form-control" placeholder="Password *" value=""/>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <input type="submit" class="btn btn-info">-->
<!--        </div>-->
<!--    </form>-->
    <form th:action="@{/register}" method="post" th:object="${user}">
        <div class="form-group">
            <label for="exampleInputEmail1" class="registerInputTitle">First Name</label>
            <input type="text" th:field="*{firstName}" class="form-control" id="exampleInputEmail1"
                   aria-describedby="emailHelp" placeholder="Enter First Name" required>
        </div>
        <div class="form-group">
            <label class="registerInputTitle">Last Name</label>
            <input type="text" th:field="*{lastName}" class="form-control" placeholder="Enter Last Name" required>
        </div>
        <div class="form-group">
            <label class="registerInputTitle">Username</label>
            <input type="text" th:field="*{username}" class="form-control" placeholder="Enter Username" required>
        </div>
        <div class="form-group">
            <label class="registerInputTitle">Email</label>
            <input type="email" th:field="*{email}" class="form-control" placeholder="Enter Email"style="background: transparent;
                                                               border: none;
                                                               border-bottom: 1px solid #ffffff;
                                                               border-radius: 0px" required>
        </div>
        <div class="form-group">
            <label class="registerInputTitle">Password</label>
            <input type="password" th:field="*{password}" class="form-control" placeholder="Enter Password"style="background: transparent;
                                                               border: none;
                                                               border-bottom: 1px solid #ffffff;
                                                               border-radius: 0px" required>
        </div>
        <input type="submit" class="btn " id="registerButton" placeholder="Register">
    </form>
<!--    <div class="card" style="background-color: rgba(0,0,0,.1)">-->
<!--        <div class="card-header">-->
<!--            <h1 class="text-center">Register Here</h1>-->
<!--            <div class="card-body">-->
<!--                <form th:action="@{/register}" method="post" th:object="${user}" class="form-group text-center">-->
<!--                    <input type="text" th:field="*{firstName}" placeholder="First Name" class="text-center"-->
<!--                           style="width: 20em;"><br>-->
<!--                    <input type="text" th:field="*{lastName}" placeholder="Last Name" class="text-center"-->
<!--                           style="width: 20em;"><br>-->
<!--                    <input type="text" th:field="*{username}" placeholder="username" class="text-center"-->
<!--                           style="width: 20em;"><br>-->
<!--                    <input type="email" th:field="*{email}" placeholder="email" class="text-center"-->
<!--                           style="width: 20em;"><br>-->
<!--                    <input type="password" th:field="*{password}" placeholder="password" class="text-center"-->
<!--                           style="width: 20em;"><br>-->
<!--                    <input type="submit" class="btn btn-info">-->
<!--                </form>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
</div>


<img src="images/road-sign.png" id="registerRoadSign">
</body>
</html>