<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="aboutus.css">
<head th:include="partials/header :: head">
    <meta charset="UTF-8">
    <title>About Us</title>
</head>
<body>
<div class="container-fluid">
    <nav th:include="partials/navbar :: nav"></nav>

    <div class="about text-center">
        <div class="flip-card text-center">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="images/amber.jpeg" alt="Avatar" style="width:295px;height:296px;">
                </div>
                <div class="flip-card-back">
                    <h1>Amber Jones</h1>
                    <p>Full Stack Web Developer</p>
                    <p>github</p>
                    <p>linkdin</p>
                </div>
            </div>
        </div>
        <br>
        <div class="flip-card text-center">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="images/chrisa.jpeg" alt="Avatar" style="width:295px;height:296px;">
                </div>
                <div class="flip-card-back">
                    <h1>Christopher Aguirre</h1>
                    <p>Full Stack Web Developer</p>
                    <p>github</p>
                    <p>linkdin</p>
                </div>
            </div>
        </div>
        <br>
        <div class="flip-card text-center">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="images/melinda.jpeg" alt="Avatar" style="width:295px;height:296px;">
                </div>
                <div class="flip-card-back">
                    <h1>Melinda Greene</h1>
                    <p>Full Stack Web Developer</p>
                    <p>github</p>\
                    <p>linkdin</p>
                </div>
            </div>
        </div>
        <br>
        <div class="flip-card text-center">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="images/river.png" alt="Avatar" style="width:295px;height:296px;">
                </div>
                <div class="flip-card-back">
                    <h1>River Robins</h1>
                    <p>Full Stack Web Developer</p>
                    <p>github</p>
                    <p>linkdin</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>