<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="partials/header :: head">
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<nav th:include="partials/navbar :: nav"></nav>

<div th:if="${param.error}">
    <h2 class="red"> Invalid Username or Password</h2>
</div>

<div id="loginBox">
<form th:action="@{/login}" method="post" id="Login">
    <div class="form-group">
        <label class="loginFont" for="loginInputUser"></label>
        <input type="email" class="form-control" id="loginInputUser" placeholder="Username" name="username">
    </div>
    <div class="form-group">
        <label class="loginFont" for="loginInputPassword"></label>
        <input type="password" class="form-control" id="loginInputPassword" placeholder="Password" name="password">
    </div>
    <button type="submit" class="btn loginSubReg" id="loginSubmit" >Login <img id="loginLogo" src ="images/login.png"></button>
    <button type="register" class="btn loginSubReg" id="loginReg"> Register </button>
</form>

    <a href="#" id="loginCont">Continue as guest?</a>
</div>


<!--temporary login form to test security-->

<!--<form th:action="@{/login}" method="post" id="Login">-->
<!--    <input type="text" name="username" placeholder="username">-->
<!--    <input type="text" name="password" placeholder="password">-->
<!--    <input type="submit">-->
<!--</form>-->


<div id="cautionBox">
    <div id="cautionBoxLine">


        <div id="cautionFont3">
            <h4> &nbsp; dont drown </h4>
        </div>

        <div id="cautionFont2"> <h4>around</h4></div>


        <div id="cautionFont1">
            <h4>&nbsp;&nbsp; Turn &nbsp;</h4>
    </div>


<!--    <div id="cautionFont2">-->
<!--            <h4>dont drown </h4>-->
<!--     </div>-->
  </div>
</div>




<hr  id="line1" >

<div class="about">

<ul class="aboutList">
    <li>
        Bexar County is prone to flooding, and
        almost every year, it results in injuries
        and death, due to unawareness.
    </li>

    <li>
        Bexar County Road Watch, is designed to help prevent drivers,
        avoid dangerous areas and create awareness about turning around,
        even if a road seems accessible.
    </li>

    <li>
        A lot of incidents have occurred due to drivers thinking water-levels are lower then they appear.

    </li>



</ul>

<hr id="line2">





</div>


</body>

</html>