<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head >
    <meta charset="UTF-8">
    <title>BCRW.host</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <div th:replace="partials/header :: head"></div>
</head>
<body>
<nav th:include="partials/navbar :: nav"></nav>

<div th:if="${param.error}">
    <h2 class="red"> Invalid Username or Password</h2>
</div>

<!--<div id="mainTitleContainer" >-->
<h2 id="mainTitle1" class="d-flex justify-content-center">Bexar County</h2>
<h2 id="mainTitle2" class="d-flex justify-content-center">Road Watch</h2>
<!--</div>-->

<th:block sec:authorize="!isAuthenticated()">
    <div class=" d-flex justify-content-center">
<div id="loginBox" >
    <form th:action="@{/}" method="post" id="Login">
        <div class="form-group justify-content-center">
            <label class="loginFont" for="loginInputUser"></label>

            <input type="text" class="form-control" id="loginInputUser" placeholder="Username" name="username">

            <!--<input type="text" class="form-control" id="loginInputUser" placeholder="Username">-->

        </div>
        <div class="form-group">
            <label class="loginFont" for="loginInputPassword"></label>
            <input type="password" class="form-control" id="loginInputPassword" placeholder="Password" name="password">
        </div>
            <button type="submit" class="btn loginSubReg" id="loginSubmit" >Login <img id="loginLogo" src ="images/login.png"></button>
    </form>
    <form th:action="@{/register}" method="get" id="Register">
        <button type="submit" class="btn loginSubReg white-text"
                id="loginReg">
            <a href="/register"
            style="color: white !important;">Register</a></button>
    </form>
    <div class="w-100 d-flex justify-content-center">
    <a href="/map"  class="m-auto">Continue as guest?</a>
    </div>
</div>
    </div>
</th:block>

<div class="justify-content-center">
<div id="cautionBox" >
    <div id="cautionBoxLine">


        <div id="cautionFont3">
            <h4> &nbsp; don't drown </h4>
        </div>

        <div id="cautionFont2"> <h4>around</h4></div>


        <div id="cautionFont1">
            <h4>&nbsp;&nbsp; Turn &nbsp;</h4>
    </div>
</div>

<!--    <div id="cautionFont2">-->
<!--            <h4>dont drown </h4>-->
<!--     </div>-->
  </div>
</div>




<!--<hr  id="line1" class="d-flex justify-content-center " >-->
<div class="d-flex justify-content-center ">
<!--<div class="about ">-->
    <ul class="aboutList ">
     <li>
      <img src="images/triangle%20(1).png">  Raising awareness for safe driving.
        </li>

        <li>
        <img src="images/help.png">Communicate with others about road conditions.
        </li>

        <li>
        <img src="images/maps-and-flags%20copy.png">Provide a map of safe routes.
        </li>
    </ul>
</div>
<!--<hr id="line2" class="d-flex justify-content-center ">-->





<!--</div>-->

<footer th:include="partials/footer :: footer"
        class="p-3 mb-2 text-white"
        style="background: #4052D0"></footer>
</body>

</html>