<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
      
<head>
    <meta charset="UTF-8">
    <title>index</title>



    <script src="https://api.mapbox.com/mapbox-gl-js/v1.7.0/mapbox-gl.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v1.7.0/mapbox-gl.css" rel="stylesheet" />
    <meta name="apiKey" th:content="${@environment.getProperty('app.token')}" id="apiKey"/>
<!--    <meta name="apiKey" id="apiKey" th:value="${@sys}">-->
<!--    <meta name="apiKey" th:content="${}">-->
    <style>
        #map {
            position: center;
            width: 800px;
            height: 400px;
            z-index: 1000;
        }
    </style>
    <div th:replace="partials/header :: head"></div>
</head>
<body>
<div>
    <nav th:include="partials/navbar :: nav"></nav>
</div>
<h1>Maps</h1>
<div class="button">
    <th:block sec:authorize="!isAuthenticated()">
        <a href="/register" class="btn btn-primary">
            Make a report
        </a>
    </th:block>
    <th:block sec:authorize="isAuthenticated()">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#report">
            Make a report
        </button>
    
        <!-- Modal -->
        <div class="modal fade" id="report" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Report an incident</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form th:action="@{'/report/add'}" method="post">
                            <div class="form-group">
                                <label for="query">Location</label>
                                <input type="text" class="form-control" id="query"
                                name="query">
                                <small id="emailHelp" class="form-text text-muted">Address, area with city or
                                    zipcode</small>
                            </div>
                            <div class="form-group">
                                <label for="description">Description</label>
                                <input type="text" class="form-control" id="description"
                                       name="description">
                                <small id="descriptionHelp" class="form-text text-muted">Leave a brief
                                    description of whats going on</small>
                            </div>
                                <th:block th:each="c : ${categories}">
                            <div class="form-check">
                                    <input class="form-check-input" type="checkbox" th:value="${c.name}"
                                           id="defaultCheck1"
                                           th:name="primitiveCategories">
                                    <label class="form-check-label" for="defaultCheck1" th:text="${c.name}">
                                    </label>
                            </div>
                                </th:block>
                            <br>
                            <div class="form-group">
                                <label for="waterLevel">Water Level</label>
                                <select class="form-control" id="waterLevel" name="waterLevel">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                                <small id="waterLevelHelp" class="form-text text-muted">If your incident
                                    includes water please report level</small>
                            </div>
                            <input type="submit" class="btn btn-outline-primary">
                        </form>
                    </div>
                    <div class="modal-footer">
                        Bexar County Road Watch
                    </div>
                </div>
            </div>
        </div>
    </th:block>
    <input type="text" placeholder="Where to?">
    <button type="submit">Search</button>
</div>
<!--MAPBOX ID-->
<div id="map"></div>

<!--BEGGINING OF CARDS-->
<th:block th:each="report : ${reports}">
    <div class="d-flex justify-content-around">
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"
                 th:text="${report.zipcode}">Card title</h5>
                <p class="card-text" th:text="${report.description}">Some quick example text to build on the card title and make
                    up the
                    bulk of
                    the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</th:block>

<!--<script src="/js/jquery-2.2.4.js"></script>-->
<script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"
></script>
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>
<script src="/js/keys.js"></script>
<script src="/js/mapbox.js"></script>

</body>
</html>